{% extends 'blog/base.html' %}
{% block title %}
  <title> Django blog - Home </title>
{% endblock title %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'blog/home.css' %}">

  <div class="container">
    <article class="all-browsers">
      {% for post in posts %}
        <div class="row mb-4">
          <div class="col-md-2">
            <div class="profile-picture rounded-circle overflow-hidden" style="width: 125px; height: 125px;">
              <img src="{{ post.author.userprofile.profile_picture.url }}" class="w-100 h-100 img-fluid">
            </div>
          </div>

          <div class="col-md-10">
            <div class="post-details text-muted">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <div>
                  <a class="text-decoration-none author-name" href="">{{ post.author }}</a>
                  <small class="ml-2">{{ post.date_posted }}</small>
                </div>
              </div>
            </div>
            <h2 class="mb-3">
              <a href="{% url 'post-detail' post.id %}" class="text-decoration-none text-dark">
                {{ post.title }}
              </a>
            </h2>
          <p class="post-content font-weight-bold bg-light p-3 rounded shadow" style="font-size: 16px; line-height: 1.6;">
            {{ post.content }}
          </p>
          </div>
        </div>
      {% endfor %}
    </article>
  </div>

  {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class="btn btn-sm btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}

      {% if page_obj.number == num %}
        <a class="btn btn-sm btn-info mb-4" href="?page={{num}}"> {{num}} </a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'+3' %}
        <a class="btn btn-sm btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
      {% endif %}

    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-sm btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %}
{% endblock content %}
