{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Profile Page</title>
{% endblock title %}

{% block content %}
<div class="container mt-4 text-center">
    <div class="profile-picture rounded-circle overflow-hidden" style="width: 160px; height: 160px; display: inline-block; vertical-align: middle;">
        <img src="{{ user.userprofile.profile_picture.url }}" class="w-100 h-100 img-fluid">
    </div>
    <div class="d-inline-block align-middle ml-3">
        <h2>{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-center">Update profile info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>

                <button class="btn btn-primary btn-block" type="submit">Update</button>
            </form>
        </div>

        <div class="col-md-6">
            <h2 class="border-bottom mb-4"> Your Bio </h2>
            <p class="font-italic">{{ user.userprofile.bio }}</p>
        </div>
    </div>
</div>
{% endblock content %}





